<form
  [formGroup]="form"
  novalidate>

    <fieldset>
        <label>
            ZIP
            <input type="text" formControlName="zip" size="5">

            <span *ngIf="form.get('zip').hasError('required') && !form.get('zip').touched">
                <strong>zip</strong> is required
            </span>

            <template [ngIf]="form.get('zip').touched">
                <span *ngIf="form.get('zip').hasError('minlength')">
                    <strong>5</strong> is min
                </span>
                <span *ngIf="form.get('zip').hasError('maxlength')">
                    <strong>5</strong> is max
                </span>
                <span *ngIf="form.get('zip').hasError('pattern')">
                    <strong>numbers</strong> only
                </span>
            </template>

        </label>
    </fieldset>

    <fieldset formArrayName="cascade">

        <template
          ngFor
          let-control
          [ngForOf]="form.get('cascade')['controls']">
            <div *ngIf="control.first">
                <div>{{control.label}}</div>
                <label *ngFor="let state of control.options">
                    <input type="radio" formControlName="{{control.index}}" value="{{state.value}}">
                    {{state.label}}
                </label>
                <hr>
            </div>
            <div *ngIf="!control.first">
                <label>
                    <div>{{control.label}}</div>
                    <select formControlName="{{control.index}}">
                        <option disabled selected hidden value="null">
                            <span *ngIf="!control.options || control.options.length">Select</span>
                            <span *ngIf="control.options && !control.options.length">Loading...</span>
                        </option>
                        <template ngFor let-option [ngForOf]="control.options">
                            <option value="{{option.value}}">{{option.label}}</option>
                        </template>
                    </select>
                </label>

                <span
                  *ngIf="control.hasError('required') && control.touched">
                    <strong>{{control.label}}</strong> is required
                </span>

                <hr *ngIf="!control.last">
            </div>
        </template>
    </fieldset>
</form>