<form [formGroup]="form" novalidate>

    <label>
        Performance
        <input type="{{defaults.type}}" min="{{defaults.min}}" max="{{defaults.max}}" formControlName="performance">
        {{form.get('performance').value}}
    </label>
<br>
    <label>
        Prestige
        <input type="{{defaults.type}}" min="{{defaults.min}}" max="{{defaults.max}}" formControlName="prestige">
        {{form.get('prestige').value}}
    </label>
<br>
    <label>
        Price
        <input type="{{defaults.type}}" min="{{defaults.min}}" max="{{defaults.max}}" formControlName="price">
        {{form.get('price').value}}
    </label>

</form>