Price | Performance | Posh
<hr>

<button (click)="add()">Add Car</button>
<hr>

<table *ngIf="cars.length">
    <caption>Car comparision</caption>
    <thead>
    <tr>
        <th></th>
        <td *ngFor="let car of cars">
            <button (click)="delete(car)">delete</button>
        </td>
    </tr>
    <tr>
        <th></th>
        <td *ngFor="let car of cars">
            <cost-cascade-form #cascadeForm></cost-cascade-form>
            {{setData(car, cascadeForm)}}
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th></th>
        <td *ngFor="let car of cars">
            <div *ngIf="car.submitted">
                {{car.value['categories']['vehicleSize']}}
                {{car.value['categories']['vehicleStyle']}}
            </div>
        </td>
    </tr>
    <tr>
        <th>Price (MSRP)</th>
        <td *ngFor="let car of cars">
            <div *ngIf="car.submitted">
                {{car.value['price']['baseMSRP']}}
            </div>
        </td>
    </tr>
    <tr>
        <th>Transmission</th>
        <td *ngFor="let car of cars">
            <div *ngIf="car.submitted">
                {{car.value['transmission']['transmissionType']}}
            </div>
        </td>
    </tr>
    <tr>
        <th>Power (hp)</th>
        <td *ngFor="let car of cars">
            <div *ngIf="car.submitted">
                {{car.value['engine']['horsepower']}}
            </div>
        </td>
    </tr>
    <tr>
        <th>Fuel type</th>
        <td *ngFor="let car of cars">
            <div *ngIf="car.submitted">
                {{car.value['engine']['type']}}
            </div>
        </td>
    </tr>
    <tr>
        <th>MPG (city/highway)</th>
        <td *ngFor="let car of cars">
            <div *ngIf="car.submitted">
                {{car.value['MPG']['city']}} /
                {{car.value['MPG']['highway']}}
            </div>
        </td>
    </tr>
    </tbody>
    <!--<tfoot>-->
    <!--<tr>-->
        <!--<td *ngFor="let car of cars">-->
            <!--footer-->
        <!--</td>-->
    <!--</tr>-->
    <!--</tfoot>-->
</table>

<br><br><br>